*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
a{
  text-decoration: none;
}

:root{
  font-size: 62.5%;
}
body{
  font-family: Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(241, 241, 241);
}
p{
  font-size: 1.6rem;
  color:  rgba(0, 0, 0, 0.5);
  line-height: 1.6;
  letter-spacing: .1px;
}
.container{
  padding: 4.5rem;
  letter-spacing: -.1rem;
  width: 67rem;
  margin: auto;
}
h1{
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 5rem;

}
.h2{
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  letter-spacing: .1px;
  margin-bottom: 2rem;
}
.paragraphy a{
  color: #4183c4;


}
.paragraphy{
margin-bottom: 4rem;
}
ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: .7rem;
  letter-spacing: .1px;
}
ul li{
  display: flex;
  align-items: center;
  justify-content: center;
}
ul hr{
  width: 1.7rem;
  background-color: #ccc;;
  height: .1rem;
  margin: auto;
}
ul li a{
  color: #666666;
  font-weight: 200;
  font-size: 14px;
  margin: 0 10px;
}
img{
  margin-top: 3rem;
}